    <header>
        <h1>RopeMaker</h1>
    </header>

    <nav>
        <button (click)="navegar1()">Inicio</button>
        <button>Ofertas De Empleo</button>
        <button>Administrador De Ofertas</button>
        <button (click)="navegar()">Salir</button>
    </nav>
    <div class="content">
        <h1>Nombre</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat deleniti quasi, numquam aperiam iure esse, repellendus sed dolore,
            ratione voluptas tempore. Fugit libero officiis adipisci? Architecto eligendi quam modi voluptatem!</p>
            <button>postularme</button>
    </div>
    <div class="mapita">
        <h1>Globan</h1>
        
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis nostrum cum rerum sint esse beatae tempore ea, eveniet optio quod ut molestiae itaque deserunt reprehenderit. Mollitia, laudantium maxime. Molestiae, recusandae.</p>
        <button>postularme</button>
        </div>
