<header>
    <h1>RopeMaker</h1>
</header>

<nav>
    <button (click)="navegar2()">Inicio</button>
     <button (click)="navegar1()">Volver</button>
    <button (click)="navegar()">Salir</button>
</nav>


<div class="login">
    <div class="form">
        <h1>Editar Datos Personales</h1>
        <div id="nombre">
            <label for="name" id="name">Nombre</label>
            <input type="text" placeholder="ingresa tu nombre"><br><br>
        </div>
        <div id="apellido">

            <label for="">Apellido</label><br>
            <input type="text"  placeholder="ingresa tu apellido"><br><br>
        </div>
        <div id="correo">
            <label for="">Correo</label><br>
            <input type="text" placeholder="ingresa tu Correo"><br><br>
        </div>
        <div id="contrase">
            <label for="">Password</label><br>
            <input type="password"  placeholder="ingresa tu nombre"><br><br>
        </div>
        <button >Registrar</button>
    </div>

</div>

<footer>
    <h3>BuscaTrabajo</h3>
    <p>copyright© 2023 BuscaTrabajo</p>
</footer>
