
    <div class="psesion">
        <div class="texto">
            <p>Iniciar Sesión</p>
        </div>
    </div>
    <div class="btnRegister">
        <button class="btn" (click)="navegar()">Register</button>
    </div>
    <div class="login">
        <div class="m-2">
            <label for="">Email</label><br>
            <input type="text" [(ngModel)]="email" id="email" placeholder="ingrese su email" ><br><br>
            <label for="">Password</label><br>
            <input type="password" [(ngModel)]="password" id="password" placeholder="ingresa tu password "><br><br>
            <button class="btn1" (click)="saveData()">Ingresar</button>
        </div>
    
    </div>
