<header>
    <h1>Busca Tu Trabajo Ideal</h1>
</header>

<nav>
    <button (click)="navegar()">Salir</button>
</nav>


<div class="card-container">
    <div class="btn-register">
        <button (click)="navegar4()">Registrar</button></div>
    <div class="card">
      <h2>Exito</h2>
      <br>
      <button>Editar</button>
      <button>Eliminar</button>
    </div> 
    <div class="card">
      <h2>Alkosto</h2>
      <br>
      <button>Editar</button>
      <button>Eliminar</button>
    </div> 
    
    <div class="card">
        <h2>Globant</h2>
        <br>
        <button>Editar</button>
        <button>Eliminar</button>
      </div> 
      
    <div class="card">
        <h2>Cocacola</h2>
        <br>
        <button>Editar</button>
        <button>Eliminar</button>
      </div> 
      <div class="card">
        <h2>Fruco</h2>
        <br>
        <button>Editar</button>
        <button>Eliminar</button>
      </div> 


      <div class="card">
        <h2>Pepsi</h2>
        <br>
        <button>Editar</button>
        <button>Eliminar</button>
      </div> 
      <div class="card">
        <h2>Movistar</h2>
        <br>
        <button>Editar</button>
        <button>Eliminar</button>
      </div> 
      
      <div class="card">
          <h2>Teleperformans</h2>
          <br>
          <button>Editar</button>
          <button>Eliminar</button>
        </div> 
        
      <div class="card">
          <h2>Colgate</h2>
          <br>
          <button>Editar</button>
          <button>Eliminar</button>
        </div> 
        <div class="card">
          <h2>Doria</h2>
          <br>
          <button>Editar</button>
          <button>Eliminar</button>
        </div> 


</div>

<footer>
    <h3>BuscaTrabajo</h3>
    <p>copyright© 2023 BuscaTrabajo</p>
</footer>
