<header>
    <h1>RopeMaker</h1>
</header>

<nav>
    <button (click)="navegar3()">Inicio</button>
    <button (click)="navegar2()">Ofertas </button>
    <button (click)="navegar1()">Perfil</button>
    <button (click)="navegar()">Salir</button>
</nav>
<br><br><br><br>
<div class="login">
    <div class="form">
        <h1>Registrar oferta de trabajo</h1>
        <label for="">Nombre De La Empresa</label><br>
        <input type="text" placeholder="ingresa tu nombre"><br>
        <label for="">Sobre La Empresa</label><br>
        <input type="text"  placeholder="ingresa tu apellido"><br>

        <label for="">Puesto</label><br>
        <input type="text" placeholder="ingresa tu Correo"><br>

        <label for="">Vacantes</label><br>
        <input type="text"  placeholder="ingresa tu nombre"><br>

        <button >Registrar</button>
    </div>

</div>

<footer>
    <h3>BuscaTrabajo</h3>
    <p>copyright© 2023 BuscaTrabajo</p>
</footer>
