<header>
    <h1>Busca Tu Trabajo Ideal</h1>
</header>

<nav>
    <button (click)="navegar1()">Volver</button>
    <button (click)="navegar()">Salir</button>
</nav>

<div class="login">
    <div class="form">
        <h1>Registrar oferta de trabajo</h1>
        <label for="">Nombre De La Empresa</label><br>
        <input type="text" placeholder="ingrese el nombre de la empresa"><br>
        <label for="">Sobre La Empresa</label><br>
        <input type="text"  placeholder="de que trata"><br>

        <label for="">Puesto</label><br>
        <input type="text" placeholder="ingrese el puesto "><br>

        <label for="">Vacantes</label><br>
        <input type="text"  placeholder="cuantos se van para el puesto"><br>

        <button >Registrar</button>
    </div>

</div>
<footer>
    <h3>BuscaTrabajo</h3>
    <p>copyright© 2023 BuscaTrabajo</p>
</footer>