
    <header>
        <h1>RopeMaker</h1>
    </header>

    <nav>
        <button (click)="navegar1()">Ofertas De Trabajo</button>
        <button>Administrador De Ofertas</button>
        <button (click)="navegar2()">Perfil</button>
        <button (click)="navegar()">Salir</button>
    </nav>
    <div class="content">
        <h1>Nosotros</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat deleniti quasi, numquam aperiam iure esse, repellendus sed dolore,
            ratione voluptas tempore. Fugit libero officiis adipisci? Architecto eligendi quam modi voluptatem!</p>
    </div>
    <div class="mapita">
        <h2>Nuestra Ubicacion</h2>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.3898460894957!2d-74.04369142411824!3d4.702147941643126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9ab26ea0240f%3A0x96607cc537204acd!2sCentro%20Comercial%20Unicentro%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1701235707908!5m2!1ses-419!2sco" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="logo">
        <h3>Nuestro Logo</h3>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut molestiae non suscipit totam minus deserunt quis expedita dolore deleniti. Quia velit doloribus aut vel dolore, voluptates est aperiam error fuga?</p>
        <br>
        <img src="https://img.freepik.com/vector-premium/diseno-logotipo-monogram-mr-logotipo-carta-creativa-empresas-empresas_719418-622.jpg?size=626&ext=jpg" >
    </div>