
.login {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(146, 187, 244, 0.476);
}
.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: none;
    border: 1px solid #000;
    border-radius: 3px;
}

button {
    background: none;
    border: 1px solid #000 ;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .login {
        width: 100%;
    }
}
