<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.component.css">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <p>Registrate</p>
        <div class="form">
            <label for="">Nombre</label><br>
            <input placeholder="ingresa tu nombre"><br><br>
            <label for="">Apellido</label><br>
            <input placeholder="ingresa tu apellido"><br><br>
            <label for="">Correo</label><br>
            <input placeholder="ingresa tu Correo"><br><br>
            <label for="">Password</label><br>
            <input placeholder="ingresa tu nombre"><br><br>
            <button>Registrar</button>
        </div>
    
    </div>
</body>
</html>