*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("https://ep01.epimg.net/especiales/2020/coronavirus-covid-19/un-mundo-de-calles-vacias/img/galeria/02.jpg?time=1913");
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    width: 350px;
    height: 650px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgb(186, 186, 186);
}
.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: none;
    border: 1px solid #000;
    border-radius: 3px;
}

button {
    background: none;
    border: 1px solid #000 ;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .login {
        width: 100%;
    }
}
.btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 6px;
    position: relative;
    left: 1010px;
    top: -329px;
    
    background: rgb(186, 186, 186);
}
.btn:hover{
    top: -317px;
    transition: .1s;
    cursor: pointer;
}
